/* CSS Variables */
:root {
  /* --background: rgb(255,123,0); */
  /* --background: #EAC43B; */
  --background: #662000;
  /* --background: #FFC54C; */
}
/* universal - applies to the entire site */
html {
  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(to top right, gray, black);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kavivanar', cursive;
}

/* make body width 85% and center of page */
body {
  width: 85%;
  margin:auto;
}

/* contents inside the main image */
.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

/* make the nav-menu of teh current page active to distinguise */
#active {
  font-weight: bold;
}

header a:hover {
  font-weight: bold;
}

/* Apply CSS grid to the body */
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Specific to the top header/menu */
header {
  background-color: var(--background);
  padding: 20px;
  min-height: 50px;
  margin-top: 20px;
}

/* to remove underlined link & blue color */
header a {
  color: #fff;
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
}

/* Make the menu horizontal from vertical*/
header li {
  float: left;
  display: inline;
  padding: 1.25rem;
}

/* move the logo to the left */
header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

/* Special font to the logo first letters */
header #logo h1 span{
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
}

/* move the navigation menu to the right */
header nav {
  float: right;
}

/* make h3 tags uniform */
h3 {
  text-decoration: underline;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

/* Showcase - main body */
#showcase {
  background-image: url("../pix/hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  font-size: 2rem;
}

#showcase h1 {
  margin-top: 80px;
}

/* To target boxes under - #boxes, #gallery, and #pricing */
#boxes, #gallery, #pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
/* To terget what's insid the boxes */
.box, .price, .contact, .message{
  background-color: var(--background);
  padding: 1.25rem;
}

.box h3 {
  text-align: center;
}

#contact-info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'contact message message';
}
/* to be able to connect to the grid-template-areas */
.contact {
  grid-area: contact;
}
.message {
  grid-area: message;
}

/* input text boxes */
.message input[type="text"] {
  width: 200px;
  border: none;
}
.message textarea {
  min-width: 365px;
  min-height: 80px;
  border: none;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
}

footer {
  text-align: center;
  color: black;
}

@media (max-width: 768px) {

}

/* phone view - make only 1 column*/
@media (max-width: 576px) {
  #boxes, #gallery, #pricing {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  #contact-info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'contact'
      'message';
    }
}
